* {
    margin: 0;
    
    font-family: 'Space Grotesk';
    

}

.left {
    display: grid;
    grid-gap: 5px;
    grid-template-rows: 1fr 2fr;
    min-width: 250px;
    
}
#cityinfo{
    text-align: center;
    text-decoration: underline;
}


.weather {
    margin-top:25px;
    padding-left: 30px;
}

#cityweather {
    text-align: center;
    font-size: xx-large;
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
h2 {
    margin-top: 15px;
}

.icon {
    display: flex;
    justify-content: center;
}

p {
    padding:15px;
    font-size: large;
    
}
body {
    background-image: url("Images/nature-colorful-landscape-dusk-cloud.jpg");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: bottom center;
    background-attachment: fixed;
}

.weatherinfo {
    padding: 15px;
    border-color: rgb(0, 0, 0);
    border-width: 4px;
    border-style: double;
}

#city {
    height: 40px;
    border-radius: 10px;
    width:70%;

}

#submitbutton {
    height: 40px;
    width:25%;
    margin-top: 15px;
    /* transition: 0.2s; */
}

#submitbutton:hover {
    
    /* transform: scale(1.02); */
    cursor: pointer;
}

hr {
    border-color: rgb(0, 0, 0);
    border-width: 3px;
    border-style: double;
}
.container {
    margin: 20px;
    margin-top: 5px;
    height: 90%;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    /* grid-template-rows: ; */
    column-gap: 5px;
}

.search {
    padding: 15px;
    border-color: rgb(0, 0, 0);
    border-width: 4px;
    border-style: double;
}
.frosted{
    background-color: rgba(0, 0, 0, 0.15);  
    backdrop-filter: blur(10px);
    border-radius: 5px;
    
    
    
}
.navbar {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.15);  
    backdrop-filter: blur(10px);
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
    margin-top: 5px;
    padding: 15px;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-style: groove;
}

@media only screen and (max-width: 600px) {
    .container {
        margin: 20px;
        margin-top: 5px;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        /* grid-template-rows: 1fr; */
        grid-gap: 5px;
    }
}
